@-moz-document domain("deviantart.com") {
/* Notices */
.block-notice {
    height: 0px;
}

/* Image */
._31P_r {
    padding: 1em;
    height: unset !important;
}

._1LGGs {
    height: unset;
}

._3cJIB {
    height: 2em;
}

/* Info */
.gH0Ob {
    flex-direction: row;
}

._1y6an {
    width: unset;
    flex-grow: 1;
    margin: .75em .75em 0 .75em;
}

._2iSQ2 {
    margin: .75em 0 0 0;
}

._1jCke {
    margin: 0;
}

.j9kGS {
    height: unset;
    box-sizing: unset;
}

._1yDEn {
    margin-bottom: unset;
}

.JQhXs {
    margin: .5em;
}

/* Comments */
._2RaaH {
    width: unset;
    flex-grow: 1;
    margin: .75em .75em 0 .75em;
}

._3PaqZ {
    padding: .5em;
    margin-bottom: unset;
}

._3NWFq {
    margin-bottom: .5em;
}

._36vET {
    margin: 0 0 1em 0;
}

/* Sidebar */
._2CmNF {
    margin: .75em 0;
}

._2iAFC {
    margin-bottom: .5em;
}
}
