@-moz-document domain("pcgamer.com") {
html,
body {
    overflow-y: auto !important;
    height: auto!important;
}

div[class^='sp_veil'],
div[class^='sp_message_container'] {
    display: none!important;
}
}
